@import "tailwindcss";
@import "tw-animate-css";

@layer components {
  .icon {
    @apply flex flex-col items-center justify-center text-sm font-light;
  }

  .icon svg {
    @apply fill-white stroke-gray-500;
  }

  .icon p {
    @apply text-gray-600 text-xs;
  }

  .postButton {
    @apply flex justify-center flex-1;
  }

  .box-shadow {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 5px 15px 0px,
      rgba(25, 28, 33, 0.2) 0px 15px 35px -5px,
      rgba(0, 0, 0, 0.07) 0px 0px 0px 1px;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
}
